<div class="container-fluid d-flex justify-content-center p-lg-5 p-md-2">

    <div class="d-flex">

        <div class="bg-indigo d-flex p-lg-4 p-3 my-4">

            <h4 class="m-auto" style="writing-mode: vertical-lr; text-orientation: upright">ADMIN</h4>

        </div>

        <div class="shadow-lg d-flex p-lg-5 p-4">

            <div class="m-auto">
                <form [formGroup]="adminLoginForm" (ngSubmit)="login(adminLoginForm.value)">
                    <div class="form-group">
                        <label for="email">Email Id</label>
                        <input id="email" formControlName="email" type="email" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" formControlName="password" type="password" class="form-control">
                    </div>
    
                    <input type="submit" class="btn btn-warning float-right mt-3" value="Login">
    
                </form>
            </div>

        </div>

        <div class="bg-indigo d-flex p-lg-4 p-3 my-4">

            <h4 class="m-auto" style="writing-mode: vertical-lr; text-orientation: upright">LOGIN</h4>

        </div>
    
    </div>

</div>