<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-indigo border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-center bg-indigo-dark">CreateTogether</div>
        <div class="list-group mt-3">
            <a href="#" class="list-group-item list-group-item-action bg-indigo active d-flex">
                <li class="fa fa-chart-line fa-lg col-3"></li>
                <span class="col-9">Dashboard</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-indigo d-flex">
                <li class="fa fa-hands-helping fa-lg col-3"></li>
                <span class="col-9">Volunteers</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-indigo d-flex">
                <li class="fa fa-user-edit fa-lg col-3"></li>
                <span class="col-9">Moderators</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-indigo d-flex">
                <li class="fa fa-calendar-alt fa-lg col-3"></li>
                <span class="col-9">Events</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-indigo d-flex">
                <li class="fa fa-id-card-alt fa-lg col-3"></li>
                <span class="col-9">Profile</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-indigo d-flex">
                <li class="fa fa-sign-out-alt fa-lg col-3"></li>
                <span class="col-9">Logout</span>
            </a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

            <button class="btn" id="menu-toggle"><span class="navbar-toggler-icon"></span></button>

        </nav>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>