/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif !important;
}

.bg-indigo {
    background-color: #283593;
    color: white;
}

.text-indigo {
    color: #283593 !important;
}