<div class="container-fluid d-flex justify-content-center p-lg-2 p-md-2">

    <div class="bg-white d-lg-flex shadow m-4">

        <div class="d-flex w-100 bg-indigo">

            <div class="container text-center m-auto p-3">

                <div class="h4 text-white m-auto font-weight-bold">Create Together Foundation</div>
                <br><br><br>

                <p class="h5 text-white m-auto text-break">Welcome to our foundation.<br> Here we try to help the needy people in whichever way we can.</p>
                <br><br>

                <a class="btn btn-outline-light" href="#">About Us</a>
            </div>

        </div>

        <div class="container d-flex w-100 p-3 py-5">

            <div class="m-auto">

                <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">

                    <div class="d-flex">

                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input class="form-control mb-3" type="text" formControlName="firstName" id="firstName">
                        </div>

                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input class="form-control mb-3" type="text" formControlName="lastName" id="lastName">
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="email">Email Id</label>
                        <input class="form-control mb-3" type="email" formControlName="email" id="email">
                    </div>

                    <div class="form-group">
                        <label for="mobileno">Mobile No.</label>
                        <input class="form-control mb-3" type="text" formControlName="mobileno" id="mobileno">
                    </div>

                    <div class="form-group">
                        <label for="password">Password.</label>
                        <input class="form-control mb-3" type="password" formControlName="password" id="password">
                    </div>

                    <p id="result" class="text-success"></p>

                    <input class="btn btn-indigo float-right" type="submit" value="Submit">

                </form>

            </div>

        </div>

    </div>

</div>